body{
   background:linear-gradient(70deg,#FF69B4, #00FFFF);
}
h1{
    color: aqua;
    text-align: center;
}

h3{
    text-align: center;
    text-transform: uppercase;
    color: green;
    text-decoration: underline;
}

#message{
    color:blue
}
form{
    margin-left: 40%;
    margin-top: 70px;
    position: relative;
}

.label{
    text-transform: uppercase;
    font-family:sans-serif;
    font-weight: 400;
}
.submit{
    position: relative;
    left: 100px;
    width: 100px;
    height: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform:uppercase;
    font-weight: 700;
    border-radius: 10px;
}

h2{
    color:red;
    text-align: center;
    font-size: 2.5rem;
}
.submit:hover{
    background-color:rgb(60, 134, 60);
    outline: 1px solid red;
    outline-offset: 2px;
    color: white;
    outline-width: 3px;
    border-radius: 10px;
}



table,th,td{
    border: 3px solid #2F3C7E;
    border-collapse:collapse;
}
table{
    margin-left: 37%;
    background: none;
}
table th,td{
    color: blue;
    width: 40px;
    height: 40px;
}